/* External Styles */
/* Global Styles for the whole website */

/* gloabal selector */
/* Learn about embedding fonts */
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf') format('truetype');
}

* {
  font-family: 'IBM Plex Sans', sans-serif;
}

/* element selector */
header {
  padding: 10px;
  border-bottom: solid 1px gray;
}

/* class selector [RECOMMENDED]*/
.search-input {
  border: 1px solid gray;
  border-radius: 16px;
  padding: 6px 14px;
  width: 400px;
  vertical-align: top;
  margin-top: 16px;
}

.signin-btn {
  border: solid 1px gray;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  margin: 16px;
  padding: 6px 20px;
  display: inline-block;
  border-radius: 18px;
}

/* Id selector */
#sidebar {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  background-color: beige;
}

#sidebar ul li {
  list-style: none;
}

.videos-wrapper {
  width: calc(100% - 20% - 5px);
  display: inline-block;
}

.suggested-topics{
  padding: 0;
  text-align: center;
}

.suggested-topics li {
  border: solid 1px gray;
  display: inline;
  padding: 5px 12px;
  border-radius: 6px;
}

.suggested-topics li a {
  text-decoration: none;
}

.video-grids {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.video-grids .video-box {
  border: solid 1px red;
  margin: 6px;
}

.video-player {
  width: 100%;
}

footer {
  text-align: center;
}

/* CSS Media Query */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body{
    background-color: rgb(232, 255, 255);
  }

  .search-input {
    width: 70%;
  }

  .suggested-topics li{
    display: block;
  }

  #sidebar {
    display: none;
  }

  .videos-wrapper {
    width: 100%;
  }

  .video-grids {
    display: grid;
    grid-template-columns: 100%;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body{
    background-color: rgb(252, 252, 196);
  }

  .search-input {
    width: 100%;
  }

  .suggested-topics li{
    display: block;
  }

  #sidebar {
    display: none;
  }

  .videos-wrapper {
    width: 100%;
  }

  .video-grids {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body{
    background-color: rgb(221, 255, 221);
  }

  #sidebar {
    display: inline-block;
  }

  .videos-wrapper {
    width: calc(100% - 20% - 5px);
  }

  .video-grids {
    display: grid;
    grid-template-columns: 50% 50%;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body{
    background-color: rgb(248, 184, 184);
  }

  .suggested-topics li {
    display: inline;
  }
  #sidebar {
    display: inline-block;
  }

  .videos-wrapper {
    width: calc(100% - 20% - 5px);
  }

  .video-grids {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body{
    background-color: rgb(254, 212, 218);
  }

  #sidebar {
    display: inline-block;
  }

  .videos-wrapper {
    width: calc(100% - 20% - 5px);
  }

  .video-grids {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }
}



/* write a style for the following elements
  
  2. search input with padding 6px 14px, 1px of dotted border in red color
  3. sign in button
*/

/* header with padding 10px, margin 20px, border-bottom 1px solid gray */
header {
  padding: 10px;
  margin: 20px;
  border-bottom: 1px solid gray;
}

/* search input with padding 6px 14px, 1px of dotted border in red color */
.search-input {
  padding: 6px 14px;
  border: 1px dotted red;
}
/* write styles for  sign in button with hover and focus state */
.signin-btn {
  border: solid 1px gray;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  margin: 16px;
  padding: 6px 20px;
  display: inline-block;
  border-radius: 18px;
} 
.signin-btn :hover {
  background-color: red;
}

.signin-btn :focus {
  background-color: red;
} 



